.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(200, 255, 200);
  overflow: hidden;
}

video, .photo {
    position: absolute;
    top: 0;
    width: 50vw; 
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
    border: 50px rgb(14, 71, 57);
    border-radius: 10x;
    left: 25%;
}
        
.takephotoimage {
    max-width: 22%;
    max-height: 22%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 5%;
    left: 58%;
    transform: translateX(-58%);
}

.sidenav {
  height: 100%; 
  width: 17%;
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: rgba(255, 255, 255, 0);
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 50px;
  color: rgb(110, 160, 110);
  display: block;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sidenav a:hover {
  color: rgba(70, 100, 70, 0.6):
}

.sidebar input {
  background-color: rgba(0, 0, 0, 0)
  border: 5px green;
}

.uploadimage {
    max-width: 22%;
    max-height: 22%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 5%;
    left: 41%;
    transform: translateX(-41%);
}

* {
  box-sizing: border-box;
}

video, canvas, img.photo {
  border: none;
}

.tick {
  max-width: 20%;
  max-height: 20%;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 5%;
  left: 45%;
  transform: translateX(-45%);
}

.cross {
  max-width: 20%;
  max-height: 20%;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 5%;
  left: 55%;
  transform: translateX(-55%);
}
