.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(200, 255, 200);
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-style: normal;
}

video, .photo {
    position: absolute;
    top: 0;
    width: 50vw; 
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
    border: 50px rgb(14, 71, 57);
    border-radius: 10px;
    left: 25%;
}
        
.takephotoimage {
    max-width: 22%;
    max-height: 22%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 5%;
    left: 58%;
    transform: translateX(-58%);
}

.sidebar {
  margin: 0;
  padding: 0;
  width: 25%;
  background-color: rgba(0, 0, 0, 0);
  position: fixed;
  height: 100%;
  overflow: auto;
}

.sidebar a {
  display: block;
  color: rgb(120, 170, 120);
  font-size: 30px;
  padding: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}
 
.sidebar a.active {
  background-color: rgb(120, 170, 120);
  color: rgb(200, 255, 200);
}

.sidebar a:hover:not(.active) {
  background-color: rgba(120, 170, 120, 0.5);
  color: rgb(120, 170, 120);
}

.sidebar input[type="text"],
.sidebar input[type="search"] {
  width: 100%;
  margin: 10px auto;
  padding: 8px 11px;
  font-size: 25px;
  border: 0x solid rgb(110, 160, 110);
  border-radius: 0px;
  background-color: rgba(120, 170, 120, 0.20);
  color: rgb(110, 160, 110);
  display: block;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: italic;
  transition: background-color 0.3s ease;
}

.sidebar input[type="text"]:focus,
.sidebar input[type="search"]:focus {
  background-color: rgba(120, 170, 120, 0.35);
  font-style: normal;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.uploadimage {
    max-width: 22%;
    max-height: 22%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 5%;
    left: 41%;
    transform: translateX(-41%);
}

* {
  box-sizing: border-box;
}

video, canvas, img.photo {
  border: none;
}

.tick {
  max-width: 20%;
  max-height: 20%;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 5%;
  left: 40%;
  transform: translateX(-40%);
}

.cross {
  max-width: 20%;
  max-height: 20%;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 5%;
  left: 60%;
  transform: translateX(-60%);
}
