* {
  box-sizing: border-box;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

@font-face {
  font-family: 'Leaf Script';
  font-style: normal;
  font-weight: 800;
  src: local(''),
    url('/css/titlefont.ttf') format('truetype');
}

body {
  margin: 0;
  padding: 0;
  background-color: rgb(200, 255, 200);
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

img {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

.loadingscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgb(175, 230, 175);
  transition: opacity 0.4s;
}

.loader {
  position: relative;
  width: 20%;
  left: 40%;
  top: 20%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.nocamera {
  position: fixed;
  top: 0;
  left: 25%;
  width: 50vw;
  height: 100vh;
  border-radius: 5px;
  border: 5px solid rgb(100, 160, 100)
  z-index: 10;
  object-fit: cover;
}

.prompt {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  max-width: 400px;
  min-width: 250px;
  padding: 10px;
  background-color: rgb(190, 250, 190);
  border: 3px solid rgb(110, 150, 110);
  box-shadow: 5px 12px rgba(10, 20, 10, 0.25);
  text-align: center;
  z-index: 90;
}

.prompt h1,
.prompt p,
.prompt button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(100, 150, 100);
}

.prompt h1 {
  font-size: 25px;
}

.prompt p {
  font-size: 17px;
}

.prompt button {
  font-size: 20px;
  background-color: rgba(200, 250, 200, 0);
  border: 4px solid rgb(100, 150, 100);
  margin: 10px;
  padding: 3px;
  border-radius: 0;
  cursor: pointer;
}

.video-wrapper {
  position: absolute;
  top: 0;
  left: 25%;
  width: 50vw;
  height: 100vh;
  border: 5px solid rgb(100, 150, 100);
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
}

video,
canvas,
.photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
  position: absolute;
  border: none;
  z-index: -1;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0);
  overflow: auto;
}

.sidebar a {
  display: block;
  color: rgb(120, 170, 120);
  font-size: 30px;
  padding: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a.active {
  background-color: rgb(120, 170, 120);
  color: rgb(200, 255, 200);
}

.sidebar a:hover:not(.active) {
  background-color: rgba(120, 170, 120, 0.5);
  color: rgb(120, 170, 120);
}

.sidebar input[type="text"],
.sidebar input[type="search"] {
  width: 100%;
  margin: 10px auto;
  padding: 8px 11px;
  font-size: 25px;
  border: none;
  border-radius: 0;
  background-color: rgba(120, 170, 120, 0.2);
  color: rgb(110, 160, 110);
  display: block;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  transition: background-color 0.3s ease;
}

.sidebar input[type="text"]:focus,
.sidebar input[type="search"]:focus {
  background-color: rgba(120, 170, 120, 0.35);
}

.sidebar input[type="search"]::placeholder,
.sidebar input[type="text"]::placeholder {
  color: rgb(120, 170, 120);
  font-style: italic;
  opacity: 1;
}

div.content {
  margin-left: 200px;
  padding: 1px 16px;
  height: 1000px;
}

.uploadimage,
.takephotoimage,
.tick,
.cross {
  max-width: 22%;
  max-height: 22%;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 5%;
  cursor: pointer;
  z-index: 80;
}

.uploadimage {
  left: 41%;
  transform: translateX(-41%);
}

.takephotoimage {
  left: 58%;
  transform: translateX(-58%);
}

.tick {
  max-width: 20%;
  max-height: 20%;
  left: 60%;
  transform: translateX(-60%);
}

.cross {
  max-width: 20%;
  max-height: 20%;
  left: 40%;
  transform: translateX(-40%);
}
