* {
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Leaf Script';
  font-style: normal;
  font-weight: 800;
  src: local(''),
    url('/css/titlefont.ttf') format('truetype');
}

.gloria {
  font-family: "Gloria Hallelujah", cursive;
  font-weight: 400;
  font-style: normal;
}

.noselect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; 
}

body {
  background-color: rgba(200, 255, 200);
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(110, 160, 100);
}

h1 {
  font-size: 50px;
  font-family: 'Leaf Script';
  font-style: normal;
  font-weight: 800;
  text-decoration: none;
  color: rgb(110, 160, 100);
  
}

h2 {
  font-size: 55px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 900;
  font-style: normal;
  color: rgb(110, 160, 100);
  padding: 10px;
}

p {
  font-size: 25px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(110, 160, 100);
  padding-left: 10px;
}

.caret-icon {
  transition: transform 0.3s ease;
}

.collapsible.active .caret-icon {
  transform: rotate(90deg);
}

.collapsible {
  background-color: rgb(190, 240, 190);
  color: rgb(110, 160, 100);
  cursor: pointer;
  padding: 18px 18px 18px 10px;
  font-size: 33px;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  width: 100%;
  margin-top: 13px;
  border: none;
  text-align: left;
  outline: none;
  border-radius: 15px;
  transition: background-color 0.3s ease;
}

.collapsible.active {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.caret-icon {
  transition: transform 0.3s ease;
}

.collapsible.active .caret-icon {
  transform: rotate(90deg);
}

.content {
  opacity: 0;
  transition: opacity 0.4s ease;
  max-height: 0;
  overflow: hidden;
  padding: 0 18px;
  background-color: rgb(195, 250, 195);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: none;
}

.content.open {
  display: block;
  opacity: 1;
  max-height: none; /* allow natural height */
  padding-top: 10px;
  padding-bottom: 10px;
}


.sidebarimg {
    max-width: 80px;
    max-height: 80px;
    width: auto;
    height: auto;
    cursor: pointer;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -80%; 
  width: 80%;
  height: 140%;
  background-color: rgb(175, 230, 175);
  overflow: auto;
  transition: left 0.5s ease;
  z-index: 1000;
  padding: 0;
  margin: 0;
}

.sidebar.open {
  left: 0;
}

.sidebar a {
  display: block;
  color: rgb(120, 170, 120);
  font-size: 35px;
  padding: 16px;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar a.active {
  background-color: rgb(120, 170, 120);
  color: rgb(175, 230, 175);
}

.sidebar input[type="text"],
.sidebar input[type="search"] {
  width: 100%;
  margin: 10px auto;
  padding: 8px 11px;
  font-size: 28px;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: rgba(120, 170, 120, 0.20);
  color: rgb(110, 160, 110);
  display: block;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.sidebar input[type="search"]::placeholder, 
.sidebar input[type="text"]::placeholder {
  color: rgb(120, 170, 120); 
  opacity: 1; 
  font-style: italic;
}

.sidebar a:hover:not(.active):not(.blank) {
  background-color: rgba(120, 170, 120, 0.5);
  color: rgb(120, 170, 120);
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}

.titlerow {
  display: flex;
  align-items: center; 
  width: 100%;
  padding: 10px;
  background-color: rgb(180, 233, 180);
  gap: 20px;
  border-bottom: 8px solid rgb(110, 160, 110);
}

.hover {
  cursor: pointer;
}
