.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

img {  
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;   
}

.loadingscreen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: rgb(175, 230, 175);
  transition: opacity 0.4s;
}

.loader {
  position: relative;
  width: 20%;
  left: 40%;
  top: 20%;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.nocamera {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  border-radius: 5px;
  border: 5px solid rgb(100, 160, 100)
  z-index: 10;
  object-fit: cover;
}

.prompt {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translateX(-50%);
  width: 60%;
  max-width: 400px;
  min-width: 250px;
  padding: 10px;
  background-color: rgb(190, 250, 190);
  border: 3px solid rgb(110, 150, 110);
  box-shadow: 5px 12px rgba(10, 20, 10, 0.25);
  text-align: center;
  z-index: 90;
}

.prompt h1,
.prompt p,
.prompt button {
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(100, 150, 100);
}

.prompt h1 {
  font-size: 25px;
}

.prompt p {
  font-size: 17px;
}

.prompt button {
  font-size: 20px;
  background-color: rgba(200, 250, 200, 0);
  border: 4px solid rgb(100, 150, 100);
  margin: 10px;
  padding: 3px;
  border-radius: 0;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

video, .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
}

.sidebarimg {
    max-width: 20%;
    max-height: 20%;
    position: fixed;
    width: auto;
    height: auto;
    left: 5%;
    transform: translateX(-5%);
    top: 5%;
}

.fullscreen {
    max-width: 20%;
    max-height: 20%;
    position: fixed;
    width: auto;
    height: auto;
    left: 95%;
    transform: translateX(-95%);
    top: 5%;
    
}

.takephotoimage {
    max-width: 25%;
    max-height: 25%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
}


.switchcameraimage {
    max-width: 20%;
    max-height: 20%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 6%;
    left: 70%;
    transform: translateX(-30%);
}


.uploadimage {
    max-width: 20%;
    max-height: 20%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 6%;
    left: 30%;
    transform: translateX(-70%);
}

* {
  box-sizing: border-box;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -70%; 
  width: 70%;
  height: 100%;
  background-color: rgb(200, 255, 200);
  overflow: auto;
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 0;
  margin: 0;
}

.sidebar.open {
  left: 0;
}

.sidebar a {
  display: block;
  color: rgb(120, 170, 120);
  font-size: 35px;
  padding: 16px;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.sidebar a.active {
  background-color: rgb(120, 170, 120);
  color: rgb(200, 255, 200);
}

.sidebar input[type="text"],
.sidebar input[type="search"] {
  width: 100%;
  margin: 10px auto;
  padding: 8px 11px;
  font-size: 28px;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: rgba(120, 170, 120, 0.20);
  color: rgb(110, 160, 110);
  display: block;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.sidebar input[type="search"]::placeholder, 
.sidebar input[type="text"]::placeholder {
  color: rgb(120, 170, 120); 
  opacity: 1; 
  font-style: italic;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: center; 
}


.tick {
  max-width: 30%;
  max-height: 30%;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 5%;
  left: 75%;
  transform: translateX(-75%);
  cursor: pointer;
  z-index: 1500;
}

.cross {
  max-width: 30%;
  max-height: 30%;
  width: auto;
  height: auto;
  position: fixed;
  bottom: 5%;
  left: 25%;
  transform: translateX(-25%);
  cursor: pointer;
  z-index: 1500;
}

.hover {
  cursor: pointer;
}
