.ubuntu {
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
  font-style: normal;
}

video, .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
}

.sidebarimg {
    max-width: 20%;
    max-height: 20%;
    position: fixed;
    width: auto;
    height: auto;
    left: 5%;
    transform: translateX(-5%);
    top: 5%;
}

.fullscreen {
    max-width: 20%;
    max-height: 20%;
    position: fixed;
    width: auto;
    height: auto;
    left: 95%;
    transform: translateX(-95%);
    top: 5%;
    
}

.takephotoimage {
    max-width: 25%;
    max-height: 25%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 6%;
    left: 50%;
    transform: translateX(-50%);
}


.switchcameraimage {
    max-width: 20%;
    max-height: 20%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 6%;
    left: 70%;
    transform: translateX(-30%);
}


.uploadimage {
    max-width: 20%;
    max-height: 20%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 6%;
    left: 30%;
    transform: translateX(-70%);
}

* {
  box-sizing: border-box;
}

video, canvas, img.photo {
  border: none;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -70%; 
  width: 70%;
  height: 100%;
  background-color: rgb(200, 255, 200);
  overflow: auto;
  transition: left 0.3s ease;
  z-index: 1000;
  padding: 0;
  margin: 0;
}

.sidebar.open {
  left: 0;
}

.sidebar.logo {
  height: 10% 
  width: 10%
}

.sidebar a {
  display: block;
  color: rgb(120, 170, 120);
  font-size: 30px;
  padding: 16px;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 700;
}

.sidebar a.active {
  background-color: rgb(120, 170, 120);
  color: rgb(200, 255, 200);
}

.sidebar input[type="text"],
.sidebar input[type="search"] {
  width: 100%;
  margin: 10px auto;
  padding: 8px 11px;
  font-size: 25px;
  border: none;
  box-shadow: none;
  border-radius: 0px;
  background-color: rgba(120, 170, 120, 0.20);
  color: rgb(110, 160, 110);
  display: block;
  outline: none;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
}

.sidebar input[type="search"]::placeholder, 
.sidebar input[type="text"]::placeholder {
  color: rgb(120, 170, 120); 
  opacity: 1; 
}
