body {
  margin: 0;
  padding: 0;
  background-color: black;
  overflow: hidden;
}

video, .photo {
    position: absolute;
    top: 0;
    width: 50vw; 
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
    border: none;
    left: 25%;
}
        
.takephotoimage {
    max-width: 22%;
    max-height: 22%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 7%;
    left: 60%;
    transform: translateX(-60%);
}

.uploadimage {
    max-width: 22%;
    max-height: 22%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 7%;
    left: 40%;
    transform: translateX(-40%);
}

* {
  box-sizing: border-box;
}

video, canvas, img.photo {
  border: none;
}
