body {
  margin: 0;
  padding: 0;
  background-color: black;
}

video, .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
}
        
.takephotoimage {
    max-width: 25%;
    max-height: 25%;
    width: auto;
    height: auto;
    position: fixed;
    bottom: 20;
    left: 50%;
    transform: translateX(-50%);
}

.switchcameraimage {
    width: 20%;
    height: 20%;
    position: fixed;
    display: block;
    margin-left: 70%;
    margin-right: 30%;
    bottom: 80%;
}
