html {
  margin: 0;
  padding: 0;
  background-color: black;
}

video, .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
}

.button1 {
    position: relative;
    bottom: 500px;
}
        
.photo {

}
