body {
  margin: 0;
  padding: 0;
  background-color: black;
}

video, .photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    object-fit: cover;
    z-index: -1; 
}
        
.takephotoimage {
    width: 25%;
    height: 25%;
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    bottom: 30%;
}

.switchcameraimage {
    width: 10%;
    height: 10%;
    position: relative;
    display: block;
    margin-left: 70%;
    margin-right: 30%;
    bottom: 20%;
}
